* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121214;
    font-family: 'Mulish', sans-serif;

    padding: 72px 104px;

    display: grid;
    justify-content: center;
    gap: 63px;
}

header h1 {
    color: #02799D;
    font-size: 58.287px;
    font-weight: 900;
}

header p {
    color: #E1E1E6;
    font-size: 32px;
    font-weight: 600;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    place-content: center;
    /* row-gap: 44px;
    column-gap: 60px; */
    gap: 44px 60px;
}

.card {
    border-radius: 8px;
    border: 2px solid #323238;
    background: #202024;
    overflow: hidden;
}

.card h2 {
    padding: 24px 32px 0;

    color: #E1E1E6;
    font-size: 35.302px;
    font-weight: 900;
}

.card p {
    padding: 24px 32px 32px;

    color: #C4C4CC;
    font-size: 19.381px;
    font-weight: 600;
}